/* Reset some default browser styles */
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body 
{
    font-family: monospace;
    font-size: larger;
    line-height: 1.6;
    background-color: #dcd6d6;
    color: #000000;
    padding: 10px;
    margin: 10px;
}

/* Header styling */
header 
{
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: left; /* Align to the left */
    position: fixed; /* Sticky position */
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

/* Add padding-top to avoid content going under the header */
main 
{
    padding-top: 80px;
    padding-left: 20px; /* Add padding to the left for alignment with header and footer */
}

/* Navigation styling */
nav ul 
{
    list-style: none;
    padding: 0;
}

nav ul li 
{
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Home section styling */
.home-section {
    display: flex; /* Flexbox to align image and text side by side */
    align-items: center; /* Center vertically */
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.intro
{
    padding-right: 100px;
}

/* Image styling */
.profile-image {
    max-width: 300px; /* Set max width for the image */
    border-radius: 5%; /* Makes the image circular */
    margin-right: 20px; /* Space between image and text */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adds shadow to the image */
    flex-shrink: 0; /* Prevent image from shrinking */
}

.project-image 
{
    max-width: 300px; /* Set max width for the image */
    max-height: 300px;
    border-radius: 5%; /* Makes the image circular */
    margin-right: 500px; /* Space between image and text */
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1); /* Adds shadow to the image */
    flex-shrink: 0; /* Prevent image from shrinking */
}

/* Text styling */
.home-text 
{
    max-width: 600px;
}

.skills
{
    font-size: larger;
    color: black;
    position: relative;
    height: 10px;
}

.skill-image
{
    max-width: 100%;
    max-height:100%;
}

.skill-text
{
    font-size: 70px;
}

/* Section styling */
section 
{
    margin: 20px 0;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(100% - 40px); /* Adjust width to match the left alignment */
}



/* Footer styling */
footer {
    text-align: left; /* Align to the left */
    padding: 10px 20px;
    background-color: #333;
    color: white;
    position: relative;
    width: 100%;
}

footer .footer-links {
    margin-top: 10px;
}

footer .footer-links a {
    margin: 0 10px;
    display: inline-block;
}

footer .footer-links img {
    width: 30px;
    height: 30px;
}
